.imgsize{
    width:200px;
}
.texthyperlink{
    text-decoration: underline;
    text-underline-position: under;
    color: #0060c7;
    cursor: pointer;
}
.imgsizeGrid{
    width:50px;
}
.borderHead{
    border: 1px solid #ddd;
    font-weight: 700;
}
.borderValue{
    border: 1px solid #ddd;   
}
.marginForDiv{
    margin-top:10px;
}
.paddingDiv{
    padding:15px;
}
.ui-grid-pager-row-count-picker select{
    height: 30px;
}
.textalign{
    text-align: center;
}