
<div class="container">
        <h5>{{data.Title}}</h5>
<div class="col-sm-12 col-md-12 col-lg-12">
<div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 border">
                <div class="row border">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Title:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Title}}</div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Director Name:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Director}}</div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Production:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Production}}</div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Actors Name:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Actors}}</div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Awards:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Awards}}</div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">BoxOffice:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.BoxOffice}}</div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Language:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Language}}</div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Released:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Released}}</div>
                </div>
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Writer:</div>
                        <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Writer}}</div>
                </div>
            </div>
        
        
        
            <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Runtime:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Runtime}}</div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">imdbRating:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.imdbRating}}</div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">imdbVotes:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.imdbVotes}}</div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Type:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Type}}</div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Genre:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Genre}}</div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Country:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Country}}</div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Rated:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Rated}}</div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Year:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Year}}</div>
                    </div>
                    <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4 borderHead">Website:</div>
                            <div class="col-md-8 col-sm-12 col-lg-8 borderValue">{{data.Website}}</div>
                    </div>
                </div>

</div>
</div>
<div class="container marginForDiv borderValue">
<div class="col-12">
<div class="row">
    <div class="col-3 paddingDiv">
            <img src="{{data.Poster}}" class="imgsize"/>
        </div>
        <div class="col-9">
            <h3>One Line Spilor</h3>
                <p>{{data.Plot}}</p>
            </div>
</div>
</div>
</div>
</div>